{% extends 'adminBase.html' %}


{% block body %}

<div class="container">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('admin_register') }}">
        <div class="form-group">
            <label class="col-sm-2 control-label">帳 號</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username" placeholder="英文+數字/長度8~16">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密 碼</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" placeholder="長度8~32">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">註 冊</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}