{% extends 'adminBase.html' %}

{% block navbar%}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('admin_others')}}">其他設定</a></li>
</ul>
{% endblock %}

{% block body %}
<div>
    <div class="container">
        <div style="margin-bottom: 15px">
            <a class="btn btn-success" href="{{ url_for('lady_add_page') }}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 新增女優
            </a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 女優列表
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>女優花名</th>
                    <th>女優美圖</th>
                    <th>身材密碼</th>
                    <th>國籍地區</th>
                    <th>服務玩法</th>
                    <th>消費詳情</th>
                    <th>人員操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in data.data%}
                <tr>
                    <th>
                        {{obj.nickname}}
                    </th>
                    <td>
                        <img src="{{ url_for('static', path=obj.avatar) }}" height="75px" width="75px">
                    </td>
                    <td>
                        {{obj.height}}/{{obj.weight}}/{{obj.body_code}}/{{obj.age}}
                    </td>
                    <td>{{obj.country.title}}</td>
                    <td>{% for tag in obj.category%}
                            <span class="label label-info">{{tag.title}}</span>
                        {% endfor %}
                    </td>
                    <td>{{obj.desc}}</td>
                    <td>
                        <a class="btn-sm btn-primary" style="margin-right: 2px" href="{{ url_for('lady_edit') }}{{'?pk='}}{{obj.id}}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 編輯
                        </a>
                        <a class="btn-sm btn-danger" style="margin-right: 2px" href="{{ url_for('delete_lady') }}{{'?id='}}{{obj.id}}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 刪除
                        </a>
                        <a class="btn-sm btn-primary" style="margin-right: 2px" href="{{ url_for('image_info', pk=obj.id) }}">
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> 傳照
                        </a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}