{% extends 'adminBase.html' %}


{% block body %}
<form class="form-horizontal container" method="post" enctype="multipart/form-data" action="{{ url_for('admin_login') }}">
    <div class="form-group">
        <label class="col-sm-2 control-label">帳 號</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="英文+數字/長度8~16" name="username">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密 碼</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password" placeholder="長度8~32">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">登 入</button>
            <a type="button" class="btn btn-primary" href="{{ url_for('register_page') }}">註 冊</a>
        </div>
    </div>
</form>
{% endblock %}