<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>茶莊後台</title>
    <link href="{{ url_for('static', path='plugins/bootstrap-3.4.1/css/bootstrap.css') }}" rel="stylesheet">
    <style>
        .navbar {
            border-radius: 0;
        }
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('admin_index') }}">後台管理系統</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            {% block navbar %}
            {% endblock %}
        </div>
    </div>
</div>

{% block body %}
{% endblock %}

<script src="{{ url_for('static', path='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', path='plugins/bootstrap-3.4.1/js/bootstrap.min.js') }}"></script>
{% block script %}
{% endblock %}
</body>
</html>