{% extends 'clientBase.html' %}


{% block body %}
<div class="container" style="margin-top: 25px">
    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
        <div class="row clearfix">
            {% for obj in data.data %}
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img data-src="holder.js/300x225" src="{{ url_for('static', path='') }}{{obj.avatar}}"
                         data-holder-rendered="true" style="height: 300px; width: 225px; display: block;">
                    <div class="caption">
                        <h4>花名: {{obj.nickname}}</h4>
                        <p>地區: {{obj.country.title}}</p>
                        <p>年齡: {{obj.age}}</p>
                        <p>身材: {{obj.height}}/{{obj.weight}}/{{obj.body_code}}</p>
                        <p><a href="{{ url_for('lady_detail', pk=obj.id)}}" class="btn btn-primary" role="button">點擊詳情</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="display: flex; justify-content: center">
        <ul class="pagination">

            {% if data.previous %}
                <li>
                    <a href="{{ url_for('home_page')}}{{data.previous}}{{'&area='}}{{area}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% if data.total_pages <= 5 %}
                {% for i in range(1, data.total_pages+1) %}
                    {% if data.page == i %}
                        <li class="active"><a href="#">{{i}}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('home_page')}}{{'?page='}}{{i}}{{'&size='}}{{data.size}}{{'&area='}}{{area}}">{{i}}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if data.page >= 3 and data.total_pages - data.page >= 2 %}
                    <li><a href="{{ url_for('home_page')}}{{'?page='}}{{data.page-2}}{{'&size='}}{{data.size}}{{'&area='}}{{area}}">{{data.page-2}}</a></li>
                    <li><a href="{{ url_for('home_page')}}{{'?page='}}{{data.page-1}}{{'&size='}}{{data.size}}{{'&area='}}{{area}}">{{data.page-1}}</a></li>
                    <li class="active"><a href="#">{{data.page}}</a></li>
                    <li><a href="{{ url_for('home_page')}}{{'?page='}}{{data.page+1}}{{'&size='}}{{data.size}}{{'&area='}}{{area}}">{{data.page+1}}</a></li>
                    <li><a href="{{ url_for('home_page')}}{{'?page='}}{{data.page+2}}{{'&size='}}{{data.size}}{{'&area='}}{{area}}">{{data.page+2}}</a></li>
                {% elif data.page < 3 %}
                    {% for i in range(1, 6) %}
                        {% if data.page == i %}
                            <li class="active"><a href="#">{{i}}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('home_page')}}{{'?page='}}{{i}}{{'&size='}}{{data.size}}{{'&area='}}{{area}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% elif data.total_pages - data.page < 2 %}
                    {% for i in range(data.total_pages-4, data.total_pages+1) %}
                        {% if data.page == i %}
                            <li class="active"><a href="#">{{i}}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('home_page')}}{{'?page='}}{{i}}{{'&size='}}{{data.size}}{{'&area='}}{{area}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if data.next %}
                <li>
                <a href="{{ url_for('home_page')}}{{data.next}}{{'&area='}}{{area}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
                <li class="disabled">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}