{% extends 'adminBase.html' %}

{% block style %}
.fileinput-button {
position: relative;
display: inline-block;
overflow: hidden;
}

.fileinput-button input {
position: absolute;
right: 0px;
top: 0px;
opacity: 0;
-ms-filter: 'alpha(opacity=0)';
font-size: 200px;
}
{% endblock %}

{% block body %}
<div class="panel panel-info container" style="padding-left: inherit; padding-right: inherit">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{nickname}}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row clearfix">
            <form method="post" enctype="multipart/form-data" action="{{ url_for('image_delete',) }}{{'?lady='}}{{uid}}">
                <div><button type="submit" class="btn btn-danger">刪 除</button></div>
                {% for i in imgs %}
                <div class="col-sm-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="thumb" value="{{i.id}}">
                        </label>
                        <div class="thumbnail">
                            <img data-src="holder.js/300x225" src="{{ url_for('static', path=i.storage)}}" data-holder-rendered="true" style="height: 200px; width: 150px; display: block;">

                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>

<div class="container">
    <form method="post" enctype="multipart/form-data" action="{{ url_for('imgs_upload', pk=uid) }}" onsubmit="return mySubmit(this)">
        <div class="form-group">
            <span class="btn btn-success fileinput-button" style="margin-left: -15px;margin-bottom: 5px">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">新增圖片</span>
                <input id="files" type="file" name="files">
            </span>
            <span class="btn btn-primary fileinput-button" style="margin-left: 2px;margin-bottom: 5px">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">確認新增</span>
                <input type="submit">
        </span>
        </div>
    </form>
</div>

<div class="panel panel-default container">
    <div class="panel-body" id="showArea">
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function delTempImg() {
        $("img").dblclick(function () {
            $(this).remove()
        })
    }
</script>
<script>
    var getUserPhoto = document.getElementById("files");
    var area = document.getElementById("showArea");
    var image = document.createElement("img");
    image.setAttribute("style", "margin-left:5px; height: 200px; width: 150px;");
    image.setAttribute("ondblclick", "delTempImg()");
    getUserPhoto.onchange = function () {
        var file = this.files;
        var reader = new FileReader();
        reader.readAsDataURL(file[0]);

        reader.onload = function () {
            image.src = reader.result;
            area.appendChild(image);
        };
    };
</script>
<script>
    function mySubmit(form) {
        let formData = new FormData(form);
        var area = document.getElementById("showArea");
        var temp_img = area.getElementsByTagName("img")
        console.log(temp_img.length);
        if (temp_img <= 0) {
            let f = formData.get("files");
            console.log(f)
            if (f) {
                formData.delete("files");
                console.log(formData)
            }
            return false;
        } else {
            return true;
        }

    }
</script>
{% endblock %}