{% extends 'adminBase.html' %}

{% block body %}
<div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">女優資訊</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" action="{{ url_for('lady_update', pk=data.id) }}">
                    <div class="form-group">
                        <label>花名</label>
                        <input type="text" class="form-control" placeholder="{{data.nickname}}" name="nickname">
                    </div>
                    <div class="form-group">
                        <label>年齡</label>
                        <input type="text" class="form-control" placeholder="{{data.age}}" name="age">
                    </div>
                    <div class="form-group">
                        <label>身高</label>
                        <input type="text" class="form-control" placeholder="{{data.height}}" name="height">
                    </div>
                    <div class="form-group">
                        <label>體重</label>
                        <input type="text" class="form-control" placeholder="{{data.weight}}" name="weight">
                    </div>
                    <div class="form-group">
                        <label>身材</label>
                        <input type="text" class="form-control" placeholder="{{data.body_code}}" name="body_code">
                    </div>
                    <div class="form-group">
                        <label>國籍</label>
                        <div class="radio">
                            {% for c in countries%}

                                <label>
                                    {% if c.title == data.country.title %}
                                    <input type="radio" name="country" value="{{c.id}}" checked>{{c.title}}
                                    {% else %}
                                    <input type="radio" name="country" value="{{c.id}}">{{c.title}}
                                    {% endif %}
                                </label>

                            {% endfor %}
                        </div>

                    </div>
                    <div class="form-group">
                        <label>服務</label>
                        <div class="checkbox">
                            {% for s in services%}

                                <label>
                                    {% if s.title in data.category %}
                                        <input type="checkbox" name="tags" value="{{s.id}}" checked>{{s.title}}
                                    {% else %}
                                        <input type="checkbox" name="tags" value="{{s.id}}" >{{s.title}}
                                    {% endif %}
                                </label>

                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>美照</label>
                        <img id="showAvatar" src="{{ url_for('static', path=data.avatar) }}" style="height: 100px; width: 100px; margin-bottom: 10px">
                        <input type="file" id="file" name="avatar">
                    </div>

                    <button type="submit" class="btn btn-primary">修 改</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var getUserPhoto = document.getElementById("file");
    getUserPhoto.onchange = function () {
        var file = this.files;
        console.log(file);
        var reader = new FileReader();
        reader.readAsDataURL(file[0]);
        reader.onload = function () {
            var image = document.getElementById("showAvatar");
            image.src = reader.result;
        };
    };
</script>
{% endblock %}

