{% extends 'adminBase.html' %}


{% block body %}
<div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">新增女優</h3>
            </div>
            <div class="panel-body clearfix">
                <form method="post" enctype="multipart/form-data" action="{{ url_for('lady_create') }}">
                    <div class="form-group">
                        <label>花名</label>
                        <input type="text" class="form-control" placeholder="nickname" name="nickname">
                    </div>
                    <div class="form-group">
                        <label>年齡</label>
                        <input type="text" class="form-control" placeholder="age" name="age">
                    </div>
                    <div class="form-group">
                        <label>身高</label>
                        <input type="text" class="form-control" placeholder="height" name="height">
                    </div>
                    <div class="form-group">
                        <label>體重</label>
                        <input type="text" class="form-control" placeholder="weight" name="weight">
                    </div>
                    <div class="form-group">
                        <label>身材</label>
                        <input type="text" class="form-control" placeholder="body code" name="body_code">
                    </div>
                    <div class="form-group">
                        <label>消費詳情</label>
                        <input type="text" class="form-control" placeholder="2000/50m/1s" name="desc">
                    </div>
                    <div class="form-group">
                        <label>國籍</label>
                        <div class="radio">
                            {% for c in countries%}

                                <label>
                                    <input type="radio" name="country" value="{{c.id}}">{{c.title}}
                                </label>

                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>服務</label>
                        <div class="checkbox">
                            {% for s in services%}
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="tags" value="{{s.title}}">{{s.title}}
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>美照</label>
                        <div>
                            <img id="showAvatar" src="{{ url_for('static', path='img/init.jpg')}}" style="height: 100px; width: 100px;">
                        </div>
                        <input type="file" id="file" name="avatar">
                    </div>


                    <button type="submit" class="btn btn-primary">新 增</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var getUserPhoto = document.getElementById("file");
    getUserPhoto.onchange = function () {
        var file = this.files;
        console.log(file);
        var reader = new FileReader();
        reader.readAsDataURL(file[0]);
        reader.onload = function () {
            var image = document.getElementById("showAvatar");
            image.src = reader.result;
        };
    };
</script>
{% endblock %}