{% extends 'adminBase.html' %}

{% block navbar%}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('admin_others')}}">其他設定</a></li>
</ul>
{% endblock %}

{% block body %}

<div style="margin-top: 5px">
    <div class="container">

        <div style="margin-bottom: 15px">
            <button class="btn btn-primary" data-target="#myModal" data-toggle="modal">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 編輯網站名稱
            </button>
            <button class="btn btn-success" data-target="#myModal1" data-toggle="modal">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 新增地區
            </button>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 地區列表
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>地區</th>
                    <th>熱門</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in data.data%}
                <tr>
                    <td>
                        {{obj.title}}
                    </td>
                    <td>
                        {% if obj.hot %}
                            熱門
                        {% else %}
                        {% endif %}
                    </td>

                    <td>
                        <a class="btn-sm btn-primary" style="margin-right: 2px" href="{{ url_for('country_edit') }}{{'?action=update&pk='}}{{obj.id}}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 編輯
                        </a>
                        <a class="btn-sm btn-danger" style="margin-right: 2px" href="{{ url_for('country_edit') }}{{'?action=del&pk='}}{{obj.id}}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 刪除
                        </a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--fade 淡入淡出-->
<div class="modal fade" id="myModal" aria-labelledby="myModallabel" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModallabel">站名: {{web_title}}</h5>
            </div>
            <form id="formData" class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('create_web_title') }}" >
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-lg-2">站名：</label>
                        <div class="col-lg-9">
                            <input type="text" value="" name="title" placeholder="" class="form-control"></br>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">返 回</button>
                    <button class="btn btn-success" type="submit" onclick="">修 改</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--fade 淡入淡出-->
<div class="modal fade" id="myModal1" aria-labelledby="myModal1label" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModal1label">新增地區</h5>
            </div>
            <form id="formData1" class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('country_create')}}">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-lg-2">地區：</label>
                        <div class="col-lg-9">
                            <input type="text" value="" name="title" placeholder="" class="form-control"></br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">熱門：</label>
                        <div class="col-lg-9">
                            <label class="form-control"><input type="radio" value="1" name="hot" >是</label>
                            <label class="form-control"><input type="radio" value="0" name="hot" >否</label>
                            </br>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">返 回</button>
                    <button class="btn btn-success" type="submit" onclick="">建 立</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}