{% extends 'clientBase.html' %}

{% block body %}
<div class="media container" style="padding-left: inherit; padding-right: inherit">
    <div class="media-left" >
        <a href="#">
            <img class="media-object img-rounded" data-src="holder.js" src="{{ url_for('static', path=data.avatar)}}"
                 data-holder-rendered="true" style="width: 240px; height: 320px;margin-left: 15px" id="show">
        </a>
    </div>
    <div class="media-body">
        <P class="myfont" style="color: blue;font-weight: bold">名字: {{data.nickname}}</P>
        <p class="myfont">地區: {{data.country.title}}</p>
        <p class="myfont" style="color: red">身材: {{data.age}}y/{{data.height}}/{{data.weight}}/{{data.body_code}}</p>
        <p class="myfont">
            服務:
            {% for tag in data.category%}
                <span class="label label-info">{{tag.title}}</span>
            {% endfor %}
        </p>
        <p class="myfont">消費: {{data.desc}}</p>
    </div>
</div>
<div class="container" style="padding-left: inherit; padding-right: inherit">
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img data-src="holder.js/300x225" src="{{ url_for('static', path=data.avatar)}}" data-holder-rendered="true" style="height: 240px; width: 180px; display: block;" onclick="showImg(this)">
                </div>
            </div>
            {% for i in data.image %}
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img data-src="holder.js" src="{{ url_for('static', path=i.storage)}}" data-holder-rendered="true" style="height: 240px; width: 180px; display: block;" onclick="showImg(this)">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function showImg() {
        $("img").click(function () {
            var temp = $(this).attr("src");
            $("#show").attr("src",temp);
        })
    }
</script>
{% endblock %}

