{% extends 'adminBase.html' %}

{% block navbar%}
<ul class="nav navbar-nav">
    <li><a href="{{ url_for('admin_others')}}">其他設定</a></li>
</ul>
{% endblock %}

{% block body %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="modal-title" id="editModellabel">地區修改</h5>
        </div>
        <form id="edotformData" class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ url_for('country_update')}}{{'?pk='}}{{data.id}}">
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-lg-2">地區：</label>
                    <div class="col-lg-9">
                        <input type="text" value="" name="title" placeholder="{{data.title}}" class="form-control"></br>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2">熱門：</label>
                    <div class="col-lg-9">
                        {% if data.hot %}
                        <label class="form-control"><input type="radio" value="1" name="hot" checked>是</label>
                        <label class="form-control"><input type="radio" value="0" name="hot">否</label>
                        </br>
                        {% else %}
                        <label class="form-control"><input type="radio" value="1" name="hot">是</label>
                        <label class="form-control"><input type="radio" value="0" name="hot" checked>否</label>
                        </br>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" type="submit" onclick="">修 改</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}